/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
/* CSS (NOT SASS) variables */
:root {
  --color-primary: #242629;
  --color-primary-light: #484c52;
  --color-primary-dark: #18191b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-container: #faf9f9;
  --hover-color: #7f5af0;
  --box-shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3); }

/* global reset */
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /* global font size */
  font-size: 62.5%; }

body {
  background-color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.page-top {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 
        The container can decrease if there is not enough space to display our max-width.
        It simply occupies 100% of the viewport width if there is not space for 120rem/1200pixels.
    */
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 10rem;
  text-align: center;
  border-radius: 10px;
  color: var(--color-grey-light-1); }
  .page-top > h1 {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: -.5rem;
    box-shadow: inset 0 -45px 0 var(--hover-color);
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    padding-right: 1rem; }

.container {
  /* 
        The container can decrease if there is not enough space to display our max-width.
        It simply occupies 100% of the viewport width if there is not space for 120rem/1200pixels.
    */
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-container);
  box-shadow: 0px 0px 50px 0px var(--color-primary-dark);
  color: var(--color-grey-light-1);
  min-height: 50rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2); }

.content {
  /* 
        This is our flex container.
    */
  display: flex; }

.sidebar {
  display: flex;
  background-color: var(--color-primary-dark);
  /* 
        Define the sidebar width. The flex property for width is flex-basis.

        But we are using the shorthand flex property.

        0 - don't grow if there's extra space
        0 - don't shrink if there's not enough space 
        18% - sidebar space (width)
    */
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between; }

.main-view {
  flex: 1;
  height: 50rem; }

.logo {
  height: 5rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 
        They are siblings in the HTML, so we can use the adjacent selector
    */ }
  .search__input {
    /* 
            The input element doesn't inherit the font family and size and color of the global element.
        */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    padding: 1rem;
    width: 90%;
    transition: all .2s;
    /* 
            Move the magnifying glass on top of the input
        */
    margin-right: -3rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      font-size: 1.2rem; }
      .search__input::-webkit-input-placeholder:focus {
        font-size: 1.9rem; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2);
    position: relative; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(5px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-1); }

.user-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch; }
  .user-navigation > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-navigation > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-navigation__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-1); }
  .user-navigation__user-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-navigation {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 3rem; }
  .side-navigation__item {
    position: relative; }
    .side-navigation__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-navigation__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--hover-color);
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.2s; }
  .side-navigation__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-navigation__link:link, .side-navigation__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 4rem;
    /*
            So the text appears on top of the purple hover
        */
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-navigation__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    /* The current color of the parent element */
    fill: currentColor; }
