.logo {
    height: 5rem;
    margin-left: 3rem;
}

.header {
    &__middle {
        flex: 0 0 40%;

        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: .2rem;
    
        color: var(--color-primary-dark);
    }

    &__company {
        color: var(--color-grey-light-1);
        font-weight: 600;
        background: linear-gradient(to right, var(--hover-color), mediumpurple);
        padding: 1rem;
        transform: skewX(-10deg);
        display: inline-block;
        text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    }
}

.user-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }
    
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-1);
        transition: all .3s;

        &:hover {
            transform: scale(1.3);
        }
    }

    &__user-img {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-name {
        color: var(--color-primary);
    }
}

.side-navigation {
    font-size: 1.5rem;
    list-style: none;
    margin-top: 3rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--hover-color);
        transform: scaleY(0);
        transition: transform .3s, width .4s cubic-bezier(1,0,0,1) .3s, background-color .2s;
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 4rem;
        /*
            So the text appears on top of the purple hover
        */
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        /* The current color of the parent element */
        fill: currentColor;
    }
}